@using System.Globalization
@model FashionShop.ViewModels.System.Users.RegisterRequest
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
}

<section class="user">
    <div class="user_options-container">
        <div class="user_options-text">
            <div class="user_options-unregistered">

            </div>

            <div class="user_options-registered">
                <h2 class="user_registered-title">Bạn đã có tài khoản?</h2>
                <p class="user_registered-text">Hãy nhấn nút "Đăng nhập" để có thể đặt hàng thỏa thích</p>
                <a href="/@culture/Account/Login" class="user_registered-login">Đăng Nhập</a>
            </div>
        </div>

        <div class="user_options-forms bounceLeft" id="user_options-forms">

            <div class="user_forms-signup">
                <h2 class="forms_title">Đăng Ký</h2>
                <form class="forms_form" asp-action="Register" asp-controller="Account" method="post" class="form-horizontal">

                    <fieldset class="forms_fieldset">
                        <div class="forms_field">

                            <input type="text" asp-for="LastName" placeholder="Họ" class="forms_field-input" required="">
                            <span asp-validation-for="LastName" class="text-error"></span>
                        </div>
                        <div class="forms_field">
                            <input type="text" asp-for="FirstName" placeholder="Tên" class="forms_field-input" required="">

                        </div>
                        <div class="forms_field">
                            <input type="date" asp-for="Dob" placeholder="Ngày sinh" class="forms_field-input" required="">

                        </div>
                        <div class="forms_field">
                            <input type="email" asp-for="Email" placeholder="Email" class="forms_field-input" required="">
                            <span asp-validation-for="Email" class="text-error"></span>
                        </div>
                        <div class="forms_field">
                            <input type="text" asp-for="UserName" placeholder="Tên tài khoản" class="forms_field-input" required="">

                        </div>
                        <div class="forms_field">
                            <input type="password" asp-for="Password" placeholder="Mật khẩu" class="forms_field-input" required="">

                        </div>
                        <div class="forms_field">
                            <input type="password" asp-for="ConfirmPassword" placeholder="Xác nhận mật khẩu" class="forms_field-input" required="">

                        </div>
                        <div class="forms_field">
                            <input type="text" asp-for="PhoneNumber" placeholder="Số điện thoại" class="forms_field-input" required="">
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <input type="hidden" name="email_create" value="1">
                        <input type="hidden" name="is_new_customer" value="1">
                        <input type="submit" value="Đăng ký" class="forms_buttons-action">
                    </div>
                </form>
                
                </div>
        </div>
    </div>
</section>
