@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
@section scripts{
    <script src="~/js/cart.js"></script>
    <script>
        var cartController = new CartController();
        cartController.initialize();
    </script>
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                        <li>/</li>
                        <li>Giỏ Hàng</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- shopping cart area start -->
<div class="row">
    @if (ViewBag.SuccessMsg != null)
    {
        <div id="msgAlert" class="alert alert-success" role="alert">
            @ViewBag.SuccessMsg
        </div>
    }
</div>
<div class="shopping_cart_area">
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove">Xóa</th>
                                        <th class="product_thumb">Hình ảnh</th>
                                        <th class="product_name">Sản phẩm</th>
                                        <th class="product-price">Giá</th>
                                        <th class="product_quantity">Số lượng</th>
                                        <th class="product_total">Tổng</th>
                                        
                                    </tr>
                                </thead>
                                <tbody id ="cart_body">
                                </tbody>
                            </table>
                        </div>
                        <div class="cart_submit">
                            <button type="submit" class="btn-update-quantity">Cập Nhật</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--coupon code area start-->
            <div class="coupon_area">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3>Tổng Cộng</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Tạm tính</p>
                                    <p class="cart_amount lbl_total"></p>
                                </div>
                                <div class="cart_subtotal">
                                    <p>Tổng</p>
                                    <p id="lbl_total" class="cart_amount lbl_total"></p>
                                </div>
                                <div class="checkout_btn">
                                    <a href="@Url.Action("Checkout","Cart")">Đặt Hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area end-->

        </form>
    </div>
</div>
<!-- shopping cart area end -->