@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
@section scripts{
    <script src="~/js/cart.js"></script>
    <script>
        var cartController = new CartController();
        cartController.initialize();
    </script>
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                        <li>/</li>
                        <li>Giỏ Hàng</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- shopping cart area start -->
<div class="shopping_cart_area">
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove">Delete</th>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    </tbody>
                            </table>
                        </div>
                        <div class="cart_submit">
                            <button type="submit" class="btn-update-quantity">Cập Nhật</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--coupon code area start-->
            <div class="coupon_area">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3>Tổng Cộng</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Tạm tính</p>
                                    <p class="cart_amount"></p>
                                </div>
                                <div class="cart_subtotal">
                                    <p>Tổng</p>
                                    <p class="cart_amount"></p>
                                </div>
                                <div class="checkout_btn">
                                    <a href="@Url.Action("Dathang","GioHang")">Đặt Hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area end-->

        </form>
    </div>
</div>
<!-- shopping cart area end -->


<ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li class="active"> SHOPPING CART</li>
</ul>

<h3>
    SHOPPING CART [ <small><span id="lbl_number_of_items">0</span> Item(s) </small>]
    <a href="/" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a>
</h3>

<hr class="soft" />

<table class="table table-bordered" id="tbl_cart">
    <thead>
        <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Quantity/Update</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody id="cart_body">
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" style="text-align:right"><strong>TOTAL =</strong></td>
            <td class="label label-important" style="display:block"> <strong> <span id="lbl_total"></span> </strong></td>
        </tr>
    </tfoot>
</table>

<a href="/" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
<a href="/@culture/Cart/Checkout" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>